<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark" id="menu">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="#">
          <img src="assets/Imagenes/paquemex.jpg" alt="logo" height="80px" width="100px">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Integra tu tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Paquemexinfo()">¿Por que paquemex?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Guia()">Guia de Tansporte</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="Buscar()">Buscar</a>
          </li>
          <li *ngIf="bandera1" class="nav-item">
            <textarea name="" id="" cols="30" rows="1"></textarea>
          </li>
          <li *ngIf="bandera1" class="nav-item">
            <button>ok</button>
          </li>

        </ul>
        <form class="d-flex" role="button">
          <button class="btn btn-light" type="button" (click)="Login()">Ingresa</button>
          <button class="btn btn-success" type="button" (click)="Register()">crea tu cuenta hoy</button>
        </form>
      </div>
    </div>
  </nav>

  <!--menu de imagenes-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/Imagenes/paqueteria2.jpeg" class="d-block w-100" alt="paqueteria2">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/Imagenes/paqueteria3.jpg" class="d-block w-100" alt="paqueteria3">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/Imagenes/paqueteria4.jpg" class="d-block w-100" alt="paqueteria4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
<!--descripcion pricipal-->
  <section class="w-50 mx-auto text-center pt-5" id="intro">
    <h1 class="p-3 fs-2 border-top-2">Resolvemos toda la <span class="text-primary">logística de tu ecommerce.</span></h1>
    <p class="p-3 fs-6">Danos la confianza de de tus productos</p>
    <button class="btn btn-success" type="button">crea tu cuenta hoy</button>
  </section>

<!--columnas-->
<section class="container-fluid" class="p-3 border-top-2">
  <h1 class="p-3 fs-2 border-top-2 text-center"><span class="text-success">Logra más con
    nuestros tipos de envíos.</span></h1>
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/Imagenes/reloj.jpg" alt="reloj" width="180" height="160">
    <div>
    <h3 class="fs-5 mt-4 px-4 pb-1">Menor tiempo</h3>
    <p class="px-4">99minutos para llegar a manos de tu cliente.</p>
  </div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
  <img src="assets/Imagenes/guia.jpg" alt="reloj" width="180" height="160">
<div>
<h3 class="fs-5 mt-4 px-4 pb-1">Guia</h3>
<p class="px-4">Genera tu guía antes de las 14h y recibe tu paquete antes de las 21h.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
  <img src="assets/Imagenes/entrega.jpg" alt="reloj" width="180" height="160">
<div>
<h3 class="fs-5 mt-4 px-4 pb-1">Servicio inmediato</h3>
<p class="px-4">Haz un envio hoy mismo para que tu cliente lo pueda recibir mañana.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
<img src="assets/Imagenes/devolver.jpg" alt="reloj" width="180" height="160">
<div>
<h3 class="fs-5 mt-4 px-4 pb-1">Retorno</h3>
<p class="px-4">Devuelve tu envío, sin problemas, fácil y rápido.</p>
</div>
</div>
</div>
</section>

<!--caracteristicas-->
<section class="container-fluid" class="p-3 border-top-2">
  <h1 class="p-3 fs-2 border-top-2 text-center"><span class="text-primary">Caracteristicas de Paquemex.</span></h1>
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/Imagenes/entregado bn.jpg" alt="reloj" width="180" height="160">
    <div>
    <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">16,524,180</span></h1>
    <p class="px-4">Paquetes entregados.</p>
  </div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
  <img src="assets/Imagenes/feliz bn.jpg" alt="reloj" width="180" height="160">
<div>
  <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">140,289</span></h1>
<p class="px-4">Clientes felices.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
  <img src="assets/Imagenes/linea bn.jpg" alt="reloj" width="180" height="160">
<div>
  <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">80</span></h1>
<p class="px-4">Tiendas afiliadas cada semana.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
<img src="assets/Imagenes/tienda bn.jpg" alt="reloj" width="180" height="160">
<div>
  <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">+8,500</span></h1>
<p class="px-4">Tiendas usan nuestro shipping.</p>
</div>
</div>
</div>
</section>

<!--Servicios-->
<section class="container-fluid" class="p-3 border-top-2">
  <h1 class="p-3 fs-2 border-top-2 text-center"><span class="text-primary">Caracteristicas de Paquemex.</span></h1>
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/Imagenes/dinero.jpg" alt="dinero" width="180" height="160">
    <div>
    <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">Pagos</span></h1>
    <p class="px-4">Entregamos tu paquete y cobramos contra entrega a tu cliente. Llevamos el control del efectivo para pagarte cada venta lo antes posible.</p>
  </div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
  <img src="assets/Imagenes/rastreo.jpg" alt="rastreo" width="180" height="160">
<div>
  <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">Rastreo</span></h1>
<p class="px-4">Nos conectamos a tu tienda, recolectamos, almacenamos, empacamos, entregamos tus productos, y damos el servicio a cliente para tus ordenes.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
  <img src="assets/Imagenes/mapa.jpg" alt="mapa" width="180" height="160">
<div>
  <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">Ruta</span></h1>
<p class="px-4">Lleva el control de todas tus unidades, haz más eficientes tus rutas y disminuye costos con nuestra nueva solución de tracking para última milla.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
<img src="assets/Imagenes/envios.jpg" alt="envios" width="180" height="160">
<div>
  <h1 class="fs-10 mt-4 px-4 pb-1"><span class="text-primary">Envios</span></h1>
<p class="px-4">Entregamos tus paquetes desde tu negocio hasta las manos de tus clientes.</p>
</div>
</div>
</div>
</section>
</body>
</html>
