body {
    background-image: linear-gradient(to right, #19be21 0%, #19be21 0%, #19be21 21%, #19be21 52%, #19be21 78%, #19be21 100%);
}

/*menu*/

#menu a {
    font-size:18;
    font-weight:bold;
    color: white;
}

#menu button {
    font-size:18;
    font-weight:bold;
    
}