<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    
    <nav class="navbar navbar-expand-lg bg-dark" id="menu">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="#">
              <img src="assets/Imagenes/paquemex.jpg" alt="logo" height="80px" width="100px">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Integra tu tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="Paquemexinfo()">¿Por que paquemex?</a>
              </li>
              <button class="btn btn-outline-success" type="button">rastrea tu envio</button>
              <li class="nav-item">
                
              </li>
            </ul>
            <form class="d-flex" role="button">
              <button class="btn btn-light" type="button" (click)="Login()">Ingresa</button>
              <button class="btn btn-success" type="button" (click)="Register()">crea tu cuenta hoy</button>
            </form>
          </div>
        </div>
      </nav>

    <main>
     <div class="container">
         <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron ">
                  <h1 class="display-4">Paquemex</h1>
                  <p class="lead">Una sola tarifa, muchas estrategias
                    Nuestra tarifa no sólo es la mejor del mercado; es fija; no pagas por volumen, ni tiempo de viaje, ni peso.
                    Si tu envío entra dentro de las medidas sugeridas, podemos llevarlo en un sólo envío.</p>
                  <hr class="my-4">
                  <p class="lead">Envíos desde tu página
                    Utilizar nuestros servicios es tan fácil como instalar nuestro plug-in en tu página.
                    Una vez que seas parte de 99 Minutos, podrás personalizar, crear y gestionar tus órdenes en tiempo real.</p>
                  <hr class="my-4">
                  <p class="lead">Tu producto entregado en tiempo récord
                    Entrega más rápido con nuestros diferentes tipos de envío que se acomodan a tus necesidades.
                    99Minutos, Mismo día, Día siguiente, CO2 Free, éstas modalidades te permiten administrar tus envíos.</p>
                  <hr class="my-4">
                  <p class="lead">Conoce más a fondo a tus clientes
                    ¿Qué tan satisfecho estás con la compra y entrega? ¿Cada cuánto regresan? ¿Cuántas ventas hiciste en el mes?
                    Te damos las herramientas necesarias para evaluar tus ventas y comprender mejor tu mercado.</p>
                  <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </main>
</body>

