<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-dark" id="menu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="assets/Imagenes/paquemex.jpg" alt="logo" height="80px" width="100px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Integra tu tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="Paquemexinfo()">¿Por que paquemex?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="Guia()">Guia de Tansporte</a>
                        </li>
                    </ul>
                </div>
             </div>
        </nav>
        <!-- Empleados -->
        <div class="card">
            <div class="card-header">
                <h1>Empleados (transportista)</h1>
            </div>
            <div class="card-body">
                <form ngNativeValidate>
                    <div class="input-group">
                        <div class="mb-3">
                            <label for="" class="form-label">Nombre(s)</label>
                            <input required type="text" style="width: 300px" class="form-control" name=""
                                formControlName="nombre" id="nombre" aria-describedby="helpId" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <section style="margin-left: 10px">
                            <label for="" class="form-label">Apellido Paterno</label>
                            <input required type="text" style="width: 300px" class="form-control" name=""
                                formControlName="nombre" id="apellido_paterno" aria-describedby="helpId" placeholder="Apellido Paterno">
                            </section>
                        </div>
                        <div class="mb-3">
                            <section style="margin-left: 10px">
                            <label for="" class="form-label">Apellido Materno</label>
                            <input required type="text" style="width: 300px" class="form-control" name=""
                                formControlName="nombre" id="apellido_materno" aria-describedby="helpId" placeholder="Apellido Materno">
                            </section>
                        </div>
                        <div class="mb-3">
                            <section style="margin-left: 10px">
                            <label for="" class="form-label">Telefono</label>
                            <input required type="text" style="width: 300px" class="form-control" name=""
                                formControlName="nombre" id="telefono" aria-describedby="helpId" placeholder="123456789">
                            </section>
                        </div>
                        <li class="dropdown open">
                            <a  class="dropdown-toggle" data-toggle="dropdown">Tipo de transporte<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-plus-title">
                                    Transportes
                                    <b class="pull-right glyphicon glyphicon-chevron-up"></b>
                                </li>
                                <li><a>Motocicleta</a></li>
                                <li><a>Automovil</a></li>
                                <li><a>Camioneta</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="btn-group" role="group" aria-label="">
                        <button id="btn_agregar" type="submit" class="btn btn-success">Agregar</button>
                        <button id="btn_cancelar" type="button" routerLink="/listar-empleado" class="btn btn-primary">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--   Listar empleados -->
        <div class="card">
            <div class="card-body">
                <h1> Lista Empleados </h1>
                <table class="table">
                    <thead>

                        <!--<tr>
                            <th>ID</th>
                            <th>Nombre cliente</th>
                            <th>Contenido</th>
                            <th>Tipo pago</th>
                        </tr> -->

                        <tr>
                            <th>ID</th>
                            <th>Nombre(s)</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Telefono</th>
                            <th>Tipo de transporte</th>
                            <th>Acciones</th>
                        </tr>

                        
                    </thead>
                    <tbody>
                        <!--<tr *ngFor="let i of lista">                            
                            <td>{{i.id_paquete}}</td>
                            <td>{{i.nombre_cliente}}</td>
                            <td>{{i.contenido}}</td>
                            <td>{{i.tp_pago}}</td>
                        </tr>-->

                        <tr>    
                            <td>1</td>                        
                            <td>Jose</td>
                            <td>Solis</td>
                            <td>Hernandez</td>
                            <td>5564099858</td>
                            <td>bicicleta</td>

                            <td>
                                <a class="btn btn-info"> Aceptar </a> |
                                <a class="btn btn-info"> Editar </a> |
                                <a class="btn btn-danger" role="button"> Borrar </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <a class="btn btn-info" (click)="EjecutaGetDB()">Aceptar</a>

        <div *ngFor="let i of lista">
            <div>{{i.id_paquete}}</div>
            <div>{{i.nombre_cliente}}</div>
            <div>{{i.contenido}}</div>
            <div>{{i.tp_pago}}</div>
        </div>

    </body>
</html>

 