<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Login-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/Imagenes/paquemex.jpg" alt="logo" height="80px" width="100px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Integra tu tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Paquemexinfo()">¿Por que paquemex?</a>
          </li>
          <button class="btn btn-outline-success" type="button">rastrea tu envio</button>
        </ul>
        <form class="d-flex" role="button">
          <button class="btn btn-success" type="button" (click)="Register()">crea tu cuenta hoy</button>
        </form>
      </div>
    </div>
  </nav>
  <!--Login-->
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!--Icon-->
      <div class="fadenIn first">
        <img src="assets\Imagenes\paquemex.jpg" id="icon" alt="logo"/>
        <h1 style="color:#000000">Paquemex</h1>
      </div>
      <!-- Login Form-->
      <form [formGroup]=datos>
        <input formControlName="email" type="text" id="email" class="fadeIn second" name="email" placeholder="email">
        <input formControlName="password" type="text" id="password" class="fadeIn third" name="email" placeholder="password">
        <button [disabled]="datos.invalid" type="submit" href="" class="btn btn-dark">Login</button>
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="">Forgot Password?</a>
      </div>
      
    </div>
  </div>
